In [2]:
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
import seaborn as sns
import pandas as pd

In [6]:
#combine player stats
stats_total=pd.read_csv('../Resources/summarized_offensive_stats.csv')
players_total=pd.read_csv('../Resources/offensive_players.csv')
combined_df=pd.merge(players_total,stats_total, on='player_id')
#combined_df.to_csv('../Resources/total_combined_data.csv')

In [3]:
filtered_df=pd.read_csv('../Resources/total_combined_data.csv')

In [4]:
filtered_df=filtered_df[filtered_df['year'] >2014]
filtered_df

,name,position,height_inches,height,weight,current_team,college,draft_team,draft_round,draft_position,...,receiving_touchdowns,kick_return_yards,kick_return_touchdowns,punt_return_yards,punt_return_touchdowns,total_passing_fantasy_points,total_rushing_fantasy_points,total_receiving_fantasy_points,total_other_fantasy_points,total_combined_fantasy_points
63,Chandler Worthy,WR,69.0,9-May,173.0,NaN,Troy,NaN,NaN,NaN,...,0,27,0,0,0,0.0,0.0,3.5,0,3.5
64,Chandler Worthy,WR,69.0,9-May,173.0,NaN,Troy,NaN,NaN,NaN,...,0,0,0,9,0,0.0,0.0,0.9,0,0.9
77,MyCole Pruitt,TE,74.0,2-Jun,251.0,NaN,Southern Illinois,Minnesota Vikings,5.0,143.0,...,0,12,0,0,0,0.0,0.0,14.1,0,14.1
78,MyCole Pruitt,TE,74.0,2-Jun,251.0,NaN,Southern Illinois,Minnesota Vikings,5.0,143.0,...,0,0,0,0,0,0.0,0.0,9.0,0,9.0
79,MyCole Pruitt,TE,74.0,2-Jun,251.0,NaN,Southern Illinois,Minnesota Vikings,5.0,143.0,...,0,0,0,0,0,0.0,0.0,1.6,0,1.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57184,Terrell Watson,RB,73.0,1-Jun,240.0,NaN,Azusa Pacific,NaN,NaN,NaN,...,0,62,0,0,0,0.0,0.1,0.0,0,0.1
57220,Justin Forsett,RB,68.0,8-May,190.0,NaN,California,Seattle Seahawks,7.0,233.0,...,0,0,0,0,0,0.0,41.9,25.2,0,67.1
57221,Justin Forsett,RB,68.0,8-May,190.0,NaN,California,Seattle Seahawks,7.0,233.0,...,0,0,0,0,0,0.0,34.2,21.1,0,55.3
57222,Justin Forsett,RB,68.0,8-May,190.0,NaN,California,Seattle Seahawks,7.0,233.0,...,0,0,0,0,0,0.0,14.5,15.9,0,30.4
57223,Justin Forsett,RB,68.0,8-May,190.0,NaN,California,Seattle Seahawks,7.0,233.0,...,0,0,0,0,0,0.0,20.6,12.6,0,33.2

In [5]:
QB_position=filtered_df.loc[filtered_df['position'] == 'QB']
RB_position=filtered_df.loc[filtered_df['position'] == 'RB']
WR_position=filtered_df.loc[filtered_df['position'] == 'WR']
TE_position=filtered_df.loc[filtered_df['position'] == 'TE']
QB_position.to_csv('../Resources/QB_stats.csv')
RB_position.to_csv('../Resources/RB_stats.csv')
WR_position.to_csv('../Resources/WR_stats.csv')
TE_position.to_csv('../Resources/TE_stats.csv')

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [ ]:
from sklearn.preprocessing import StandardScaler

X_scaler = StandardScaler().fit(X_train)

In [ ]:
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [ ]:
from tensorflow.keras.utils import to_categorical

In [ ]:
 # One-hot encoding
y_train_categorical = to_categorical(y_train)
y_test_categorical = to_categorical(y_test)
y_train_categorical

In [ ]:
from tensorflow.keras.models import Sequential

model = Sequential()

In [ ]:
from tensorflow.keras.layers import Dense
number_inputs = 3
number_hidden_nodes = 4
model.add(Dense(units=number_hidden_nodes,
                activation='relu', input_dim=number_inputs))